@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --color-table-outline: #ebebeb;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
    --secondary-btn-background: #e4e4e4;
    --input-border: #cccccc;
}

.dark-mode-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --secondary-btn-background: #30373b;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
    --color-table-outline: #282e31;
    --input-border: #394246;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    user-select: none;
    -x: hidden;
    color: var(--color-dark);
    background-color: var(--color-background);
}

a{
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-weight: 600;
    font-size: 1.4rem;
}

h3{
    font-weight: 500;
    font-size: 0.87rem;
}

small{
    font-size: 0.76rem;
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

.text-muted{
    color: var(--color-info-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
}

.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    height: 100vh;
    grid-template-columns: 12rem auto 23rem;
}

.alert-container {
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    top: -60px;
    left: 0;
    z-index: 100;
    transition: top 0.5s ease;
}

.alert-container.show {
    top: 20px;
}

.message {
    width: 300px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #28282B;
    border-radius: 10px;
}

.message p {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.main-content {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.main-content-container {
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    display: flex;
    width: 100% !important;
    height: 40vh;
    padding: var(--card-padding);
    flex-direction: column;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header button {
    padding: 10px 20px;
    background-color: var(--color-primary);
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
}

.header button i {
    font-size: 16px;
    color: white;
}

.table-container {
    height: 100%;
    overflow: auto;
    margin-top: 20px;
}

.main-content-container table {
    width: 100% !important; 
    border: none !important;
    border-collapse: collapse; 
}

.main-content-container table th {
    width: 200px;
    text-align: center;
    border: none !important;
    border-bottom: 1.5px solid var(--color-table-outline) !important;
}

.main-content-container table td {
    text-align: center;
    border: none !important;
    border-bottom: 1.5px solid var(--color-table-outline) !important;
}

.main-content-container table td button {
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
}

.main-content-container table td button i {
    font-size: 18px;
    color: var(--color-primary);
}

.main-content-container table td button:last-child i {
    color: var(--color-danger);
}


.addClassModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transform: scale(1.05);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1000;
}

.addClassModal.show {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.addClassModalContent {
    height: 400px;
    width: 350px;
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 10px;
    transform: translateY(-20px);
    opacity: 0;
    transition: all 0.3s ease;
}

.addClassModal.show .addClassModalContent {
    transform: translateY(0);
    opacity: 1;
}

.addClassModalContent h2 {
    margin-bottom: 20px;
}

.floating-label {
    position: relative;
    margin-bottom: 20px;
}
  
.floating-label input {
    width: 100%;
    padding: .8rem 1.5rem;
    font-size: 1rem;
    border: 1px solid var(--input-border);
    border-radius: 50px;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    color: var(--color-dark-variant);
    font-family: 'Poppins', sans-serif;
}

.floating-label input:focus {
    border: 1.5px solid var(--color-primary);
}
  
.floating-label label {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    background-color: var(--color-white);
    padding: 0 0.25rem;
    transition: 0.2s ease all;
    pointer-events: none;
    font-size: 14px;
}
  
.floating-label input:focus + label,
.floating-label input:not(:placeholder-shown) + label {
    top: -0.6rem;
    left: 1rem;
    font-size: 12px;
    color: var(--color-primary);
    transform: none;
}

.deleteButtons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-top: 20px;
}

.deleteButtons button {
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    padding: 10px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.deleteButtons button:last-child {
    background-color: var(--secondary-btn-background);
    color: var(--color-dark);
}

.addRoomModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transform: scale(1.05);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1000;
}

.addRoomModal.show {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.addRoomModalContent {
    height: 250px;
    width: 350px;
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 10px;
    transform: translateY(-20px);
    opacity: 0;
    transition: all 0.3s ease;
}

.addRoomModal.show .addRoomModalContent {
    transform: translateY(0);
    opacity: 1;
}

.addRoomModalContent h2 {
    margin-bottom: 20px;
}

.floating-label {
    position: relative;
    margin-bottom: 20px;
}
  
.floating-label input {
    width: 100%;
    padding: .8rem 1.5rem;
    font-size: 1rem;
    border: 1px solid var(--input-border);
    border-radius: 50px;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    color: var(--color-dark-variant);
    font-family: 'Poppins', sans-serif;
}

.floating-label input:focus {
    border: 1.5px solid var(--color-primary);
}
  
.floating-label label {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    background-color: var(--color-white);
    padding: 0 0.25rem;
    transition: 0.2s ease all;
    pointer-events: none;
    font-size: 14px;
}
  
.floating-label input:focus + label,
.floating-label input:not(:placeholder-shown) + label {
    top: -0.6rem;
    left: 1rem;
    font-size: 12px;
    color: var(--color-primary);
    transform: none;
}

.deleteButtons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-top: 20px;
}

.deleteButtons button {
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    padding: 10px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.deleteButtons button:last-child {
    background-color: var(--secondary-btn-background);
    color: var(--color-dark);
}

.editClassModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transform: scale(1.05);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1000;
}

.editClassModal.show {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.editClassModalContent {
    height: 400px;
    width: 350px;
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 10px;
    transform: translateY(-20px);
    opacity: 0;
    transition: all 0.3s ease;
}

.editClassModal.show .editClassModalContent {
    transform: translateY(0);
    opacity: 1;
}

.editClassModalContent h2 {
    margin-bottom: 20px;
}

.floating-label {
    position: relative;
    margin-bottom: 20px;
}
  
.floating-label input {
    width: 100%;
    padding: .8rem 1.5rem;
    font-size: 1rem;
    border: 1px solid var(--input-border);
    border-radius: 50px;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    color: var(--color-dark-variant);
    font-family: 'Poppins', sans-serif;
}

.floating-label input:focus {
    border: 1.5px solid var(--color-primary);
}
  
.floating-label label {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    background-color: var(--color-white);
    padding: 0 0.25rem;
    transition: 0.2s ease all;
    pointer-events: none;
    font-size: 14px;
}
  
.floating-label input:focus + label,
.floating-label input:not(:placeholder-shown) + label {
    top: -0.6rem;
    left: 1rem;
    font-size: 12px;
    color: var(--color-primary);
    transform: none;
}

.deleteButtons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-top: 20px;
}

.deleteButtons button {
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    padding: 10px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.deleteButtons button:last-child {
    background-color: var(--secondary-btn-background);
    color: var(--color-dark);
}


.editRoomModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transform: scale(1.05);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1000;
}

.editRoomModal.show {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.editRoomModalContent {
    height: 250px;
    width: 350px;
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 10px;
    transform: translateY(-20px);
    opacity: 0;
    transition: all 0.3s ease;
}

.editRoomModal.show .editRoomModalContent {
    transform: translateY(0);
    opacity: 1;
}

.editRoomModalContent h2 {
    margin-bottom: 20px;
}

.floating-label {
    position: relative;
    margin-bottom: 20px;
}
  
.floating-label input {
    width: 100%;
    padding: .8rem 1.5rem;
    font-size: 1rem;
    border: 1px solid var(--input-border);
    border-radius: 50px;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    color: var(--color-dark-variant);
    font-family: 'Poppins', sans-serif;
}

.floating-label input:focus {
    border: 1.5px solid var(--color-primary);
}
  
.floating-label label {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    background-color: var(--color-white);
    padding: 0 0.25rem;
    transition: 0.2s ease all;
    pointer-events: none;
    font-size: 14px;
}
  
.floating-label input:focus + label,
.floating-label input:not(:placeholder-shown) + label {
    top: -0.6rem;
    left: 1rem;
    font-size: 12px;
    color: var(--color-primary);
    transform: none;
}

.deleteButtons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-top: 20px;
}

.deleteButtons button {
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    padding: 10px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.deleteButtons button:last-child {
    background-color: var(--secondary-btn-background);
    color: var(--color-dark);
}

.deleteClassModal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    opacity: 0;
    pointer-events: none;
    transform: scale(1.05);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.deleteClassModal.show {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.deleteClassModalContent {
    background-color: var(--color-white);
    height: 340px;
    width: 350px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transform: translateY(-20px);
    opacity: 0;
    transition: all 0.3s ease;
}

.deleteClassModal.show .deleteClassModalContent {
    transform: translateY(0);
    opacity: 1;
}

.deleteClassModalContent .icon {
    padding: 15px;
    background-color: rgba(255, 0, 0, 0.089);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.deleteClassModalContent .icon i {
    font-size: 22px;
    color: var(--color-danger);
}

.deleteClassModalContent .deleteClassButtons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    gap: 10px;
    margin-top: 20px;
}

.deleteClassButtons button{
    background-color: var(--color-danger);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.deleteClassButtons button:last-child {
    background-color: var(--secondary-btn-background);
    color: var(--color-dark);
}

.deleteRoomModal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    opacity: 0;
    pointer-events: none;
    transform: scale(1.05);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.deleteRoomModal.show {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.deleteRoomModalContent {
    background-color: var(--color-white);
    height: 340px;
    width: 350px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transform: translateY(-20px);
    opacity: 0;
    transition: all 0.3s ease;
}

.deleteRoomModal.show .deleteRoomModalContent {
    transform: translateY(0);
    opacity: 1;
}

.deleteRoomModalContent .icon {
    padding: 15px;
    background-color: rgba(255, 0, 0, 0.089);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.deleteRoomModalContent .icon i {
    font-size: 22px;
    color: var(--color-danger);
}

.deleteRoomModalContent .deleteRoomButtons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    gap: 10px;
    margin-top: 20px;
}

.deleteRoomButtons button{
    background-color: var(--color-danger);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.deleteRoomButtons button:last-child {
    background-color: var(--secondary-btn-background);
    color: var(--color-dark);
}