@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --input-border: #cccccc;
    --secondary-btn-background: #e4e4e4;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
    --card-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 6px 12px rgba(0, 0, 0, 0.08);

}

.dark-mode-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
    --input-border: #394246;
    --modal-background: rgba(0, 0, 0, 0.555);
    --card-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.178), 0px 6px 12px rgba(0, 0, 0, 0.253);

    --secondary-btn-background: #30373b;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: var(--color-background);
}

a{
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-weight: 600;
    font-size: 1.4rem;
}

h3{
    font-weight: 500;
    font-size: 0.87rem;
}

small{
    font-size: 0.76rem;
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

.text-muted{
    color: var(--color-info-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    align-items: center;
}

.toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.toggle .logo{
    gap: 0.5rem;
    display: flex;
}

.toggle .logo img{
    width: 2rem;
    height: 2rem;
}

.toggle .close{
    padding-right: 1rem;
    display: none;
}

.actions-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav .toggle button{
    display: none;
}

.dark-mode{
    background-color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.dark-mode span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark-mode span.active{
    background-color: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.nav .profile{
    display: flex;
    gap: 2rem;
    text-align: right;
    position: relative;
}

.nav .profile .profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.profile-container {
    display: none;
    position: absolute;
    top: 120%; /* Adjust as needed */
    right: 10px;
    background: var(--color-white);
    box-shadow: var(--card-border-radius);
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 5px;
    width: 200px;
    z-index: 100;
    border-radius: 5px;
}

.profile-container .item {
    padding: 10px 20px;
    transition: all 0.3s ease;

}

.profile-container .item:hover {
    background-color: var(--color-light);
    transition: all 0.3s ease;
}

.profile-container .item:hover p {
    padding-right: 20px;
    transition: all 0.3s ease;
    color: var(--color-primary);

}

.update-container {
    display: none;
    position: absolute;
    top: 120%; /* Adjust as needed */
    right: 10px;
    background: var(--color-white);
    box-shadow: var(--card-box-shadow);
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 5px;
    width: 280px;
    flex-direction: column;
    border-radius: 5px;
    padding: 15px;
    z-index: 100;
    border-radius: 5px;
}

.change-container {
    display: none;
    position: absolute;
    top: 120%; /* Adjust as needed */
    right: 10px;
    background: var(--color-white);
    box-shadow: var(--card-box-shadow);
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 5px;
    z-index: 100;
    width: 280px;
    border-radius: 5px;
    padding: 15px;
}

.update-container h3, .change-container h3 {
    font-size: 16px;
    text-align: start;
    margin-bottom: 10px;
}

.floating-label {
    position: relative;
    margin-bottom: 20px;
}
  
.floating-label input {
    width: 100%;
    padding: .8rem 1.5rem;
    font-size: 1rem;
    border: 1px solid var(--input-border);
    border-radius: 50px;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    color: var(--color-dark-variant);
    font-family: 'Poppins', sans-serif;
}

.floating-label input:focus {
    border: 1.5px solid var(--color-primary);
}
  
.floating-label label {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    background-color: var(--color-white);
    padding: 0 0.25rem;
    transition: 0.2s ease all;
    pointer-events: none;
    font-size: 14px;
}
  
.floating-label input:focus + label,
.floating-label input:not(:placeholder-shown) + label {
    top: -0.6rem;
    left: 1rem;
    font-size: 12px;
    color: var(--color-primary);
    transform: none;
}

.actions {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.actions button {
    width: 100%;
    padding: 12px;
    text-align: center !important;
    border-radius: 50px;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.actions button p {
    font-size: 12px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.actions button:last-child {
    background-color: var(--secondary-btn-background);
    color: var(--color-dark-variant);
}

.actions button:last-child p {
    color: var(--color-dark-variant);
}

.profile-container.active {
    display: block;
}

.update-container.active {
    display: block;
}

.change-container.active {
    display: block;
}

@media screen and (max-width: 1200px) {
    .container{
        width: 95%;
        grid-template-columns: 7rem auto 23rem;
    }

    .logo h2{
        display: none;
    }

    aside .sidebar h3{
        display: none;
    }

    aside .sidebar a{
        width: 5.6rem;
    }

    aside .sidebar a:last-child{
        position: relative;
        margin-top: 1.8rem;
    }

    main .analyse{
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .new-users .user-list .user{
        flex-basis: 40%;
    }

    main .recent-orders {
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 0.8rem;
    }

    main .recent-orders table{
        width: 83vw;
    }

    main table thead tr th:last-child,
    main table thead tr th:first-child{
        display: none;
    }

    main table tbody tr td:last-child,
    main table tbody tr td:first-child{
        display: none;
    }

}

@media screen and (max-width: 768px) {
    .container{
        width: 100%;
        grid-template-columns: 1fr;
        padding: 0 var(--padding-1);
    }

    aside{
        position: fixed;
        background-color: var(--color-white);
        width: 15rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        left: -100%;
        display: none;
        animation: showMenu 0.4s ease forwards;
    }

    @keyframes showMenu {
       to{
        left: 0;
       } 
    }

    .logo{
        margin-left: 3rem;
    }

    .logo h2{
        display: inline;
    }

    aside .sidebar h3{
        display: inline;
    }

    aside .sidebar a{
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child{
        position: absolute;
        bottom: 5rem;
    }

    .nav .toggle .close{
        display: inline-block;
        cursor: pointer;
    }

    main{
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .new-users .user-list .user{
        flex-basis: 35%;
    }

    main .recent-orders{
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    main .recent-orders table{
        width: 100%;
        margin: 0;
    }

    .right-section{
        width: 94%;
        margin: 0 auto 4rem;
    }

    .nav{
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        background-color: var(--color-white);
        padding: 0 var(--padding-1);
        height: 4.6rem;
        width: 100%;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
        margin: 0;
    }

    .nav .dark-mode{
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }

    .profile .info{
        display: none;
    }

    .nav button{
        display: inline-block;
        background-color: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .nav button span{
        font-size: 2rem;
    }

}